.reset-button {
  border: none;
  padding: 0.5rem;
  color: white;
  background-color: #3b82f6;
  border-radius: 5px;
  cursor: pointer;
}

.reset-button:hover {
  background-color: var(--accent-hover);
  transform: translateY(-2px);
  box-shadow: 0 0 15px rgba(59, 130, 246, 0.4);
}
